<p id="notice"><%= notice %></p>

<p>
<h1><%= "#{@beer_club.name} #{@beer_club.city}" %>
</h1>
</p>

<p>
  Founded
  <%= @beer_club.founded %>
</p>

<p>
<% if @beer_club.memberships.empty? %>
	<h2> No members... yet </h2>
<% else %>
<h2>Members</h2>
<% end %>
<ul>
	<% @beer_club.memberships.each do |u|  %>
		<li>
		<%= link_to u.user.username, user_path(u.user) %>
		</li>
	<% end %>

</ul>
</p>

<% if current_user and current_user.memberships.where(beer_club_id:@membership.beer_club_id).empty? %>
	<%= form_for(@membership) do |f| %>
		<%= f.hidden_field :beer_club_id %>
		<%= f.submit value:"join the club" %>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
